/* Colors
-------------------------- */
$--color-white: #fff !default;
$--color-black: #000 !default;

$--color-primary: teal !default;

$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;

$--border-radius-base: 1px !default;
$--border-radius-small: 0px !default;

// $--border-color-base: #412108 !default;
$--background-color-base: #f5f7fa !default;
